@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.ttf');
}
.root {
    -fx-background-color: #f5e0f4;
    -fx-background-radius: 18px;
}
.main {
    -fx-background-color: #f5e0f4;
    -fx-background-radius: 18px;
}
.scrollPane {
    -fx-background: #f5e0f4;
    -fx-border-color: #f5e0f4;
    -fx-effect: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.scrollPane .viewport {
     -fx-background: transparent;
}
.scrollPane:focused {
    -fx-background: #f2dff1;
}
.scrollPane:focused .subText {
    -fx-font-size: 12px;
}
.scrollPane:focused .title {
    -fx-font-size: 24px;
}
.scrollPane:focused .subTitle {
    -fx-font-size: 20px;
    -fx-font-family: 'Poppins-Bold';
}
.scrollPane:focused .radioText {
    -fx-font-size: 15px;
}
.sidepanel {
    -fx-background-color: #b133b1;
}
.text {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #f5e0f4;
}
.subText {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #b133b1;
}
.title {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #5c155e;
    -fx-font-weight: bold;
}
.subTitle {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #b133b1;
    -fx-font-weight: bold;
}
.dashboardTitle {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #5c155e;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}
.userPane {
    -fx-background-color: #fcf0ff;
    -fx-background-radius: 7px;
}
.contentPane {
    -fx-background-color: #fcf0ff;
    -fx-background-radius: 20px;
}
.searchBar {
    -fx-background-color: #fcf0ff;
    -fx-background-radius: 7px;
    -fx-font-family: 'Poppins';
    -fx-prompt-text-fill: #eaa7fa;
}
.pieChart .data0 {
    -fx-pie-color: #5c155e; /* "Correct Answers */
}

.pieChart .data1 {
    -fx-pie-color: #b133b1; /* "Partially Correct */
}

.pieChart .data2 {
    -fx-pie-color: #e1a6e0; /* Wrong Answers */
}
.pieChart-legend {
    -fx-text-fill: #808080;
    -fx-font-size: 8px;
}
.tabs {
}
.tabs:hover {
    -fx-font-size: 20px;
    -fx-background-color: #c951c9;
}
.boxText {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #4f1e69;
    -fx-font-size: 15px;
}
.boxText:hover {
    -fx-font-size: 15px;
}
.boxText:focused {
    -fx-font-size: 15px;
}
.check-box {
    -fx-background-color: #fcf0ff;
    -fx-padding: 5px;
    -fx-cursor: hand;
}
.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: #4f1e69;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}
.check-box:selected .box {
    -fx-background-color: #4f1e69;
    -fx-border-color: #4f1e69;
}
.check-box:selected .box:before {
    -fx-mark-color: #fcf0ff;
}
.squareQuiz {
    -fx-background-color: #b133b1;
    -fx-background-radius: 10px;
}
.quizNumber {
    -fx-font-family: "Poppins-Bold";
    -fx-text-fill: #f5e0f4;
    -fx-font-weight: bold;
    -fx-font-size: 50px;
}
.daysText {
    -fx-font-fami
    ly: 'Poppins';
    -fx-text-fill: #e1a6e0;
    -fx-font-weight: bold;
}
.monthText {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #5c155e;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.calBtns {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.calBtns .text {
    -fx-fill: #e1a6e0;
}
.todayText {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #b133b1;
    -fx-font-weight: bold;
}
.upcomingPane {
    -fx-background-color: #f5e0f4;
    -fx-background-radius: 20px;
}
.selectedTab {
    -fx-background-color: #c951c9;
}
.selectedBump {
    -fx-background-color: #f5e0f4;
    -fx-background-radius: 10px;
}
