@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.ttf');
}

.card-title {
    -fx-font-family: 'Poppins-Bold';
    -fx-text-fill: #5c155e;
    -fx-font-size: 16px;

.card-info {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #696f79;
    -fx-font-size: 13px;
}

.quiz-card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.difficultyLabel{
    -fx-background-color: #AB3AC6;
}