@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.ttf');
}

.categ-title {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #5c155e;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.categ-conText {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #5c155e;
    -fx-font-size: 11px;
}

.categ-infoTitle {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #696f79;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.categ-infoDesc {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #696f79;
    -fx-font-size: 18px;
}

.card-title {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #5c155e;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.click-contentPane{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15px;
}

.create-button{
    -fx-background-color: #B133B1;
    -fx-background-radius: 5;
    -fx-font-size: 13x;
    -fx-font-family: 'Poppins - Bold';
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

