@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.ttf');
}
.root {
    -fx-background-color: #f5e0f4;
}
.main {
    -fx-background-color: #f5e0f4;
    -fx-background-radius: 18px;
}
.sidepanel {
    -fx-background-color: #b133b1;
}
.sidebar-text {
    -fx-font-family: "Poppins";
    -fx-text-fill: #f5e0f4;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.selectedBump {
    -fx-background-color: #f5e0f4;
    -fx-background-radius: 10px;
}
.tabs {
}
.tabs:hover {
    -fx-background-color: #c951c9;
}
.tabs:pressed:hover {
    -fx-background-color: #c951c9;
}