@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.ttf');
}
.pamagat {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #5c155e;
    -fx-font-weight: bold;    
}
.dashboardTitle {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #5c155e;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}
.katawan {
    -fx-font-family: 'Poppins';
    -fx-text-fill: #5c155e;
    /*-fx-font-weight: bold; */
}

.grid1 {
    -fx-background-color: red;
    -fx-background-radius: 20px;

}

.grid-pane-rounded {
    -fx-background-color: #3498db;  /* Set the background color */
    -fx-background-radius: 15px;    /* Set the corner radius */
}
